@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.container_main {
    height: 100vh;
    padding-top: 13vh;
    padding-bottom: 50px;
}

#page-title {
    margin-left: 20px;
}

#reupload-btn {
    display: none;
}

/**/
#progress-container {
    display: none;
    margin: 20px 0;
}


#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    gap: 20px;
}

.video-preview {
    margin-top: 20px;
    width: 550px;
}

#label-warning {
    display: none;
    color: rgb(235, 36, 36);
}

#results-container {
    margin-top: 20px;
    display: none;
}

#img-processed-video {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#init-info {
    align-content: center;
    text-align: center;
}

.timestamp-item {
    cursor: pointer;
    padding: 8px;
    margin: 4px 0;
    background-color: #f1f1f1;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.timestamp-item:hover {
    background-color: #e1e1e1;
}

.behavior-tag {
    display: inline-block;
    padding: 2px 6px;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: white;
}

.excessive-gaze {
    background-color: #dc3545;
}

.hidden-hands {
    background-color: #fd7e14;
}

.erratic-movements {
    background-color: #6f42c1;
}

.separator {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.video-label {
    font-family: "Noto Sans KR", sans-serif;
}